# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Environment variables
.env
*.env
.env.*
!.env-example

# Local History
.localhistory/

# Rider
.idea/
*.sln.iml

# Docker
.docker/

# Logs
*.log

# Temporary files
/temp/
*.tmp

# Documentation and sample code
/docs/**/*.cs 